
/* ----------------------------------------------------------------

	banner.scss

-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Banner
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Add here styles for banner. Thanks!
-----------------------------------------------------------------*/


#banner {
    position: relative;

    img {
        width: 100%;
        height: 40rem;
        object-fit: cover;
        object-position: center;
    }

    .banner-wrap {
        padding-top: 4.375rem;
        padding-bottom: 4.375rem;
    }
}
