
/* ----------------------------------------------------------------

	footer.scss

-----------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Footer
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Add here styles for footer. Thanks!
-----------------------------------------------------------------*/

#footer {
	background-image: url(../images/footer_bg.png);
	background-repeat: repeat;
	padding-top: 4.375rem;
	padding-bottom: 3.125rem;
}

#footer-main {
	padding-bottom: 4.375rem;
}

.copyrights {
	color: #8c8c8c;
	margin: 0;
}