
/* ----------------------------------------------------------------

	header.scss

-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Header
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Add here styles for header. Thanks!
-----------------------------------------------------------------*/


#header {
	position: relative;	

	// Transparent header
	&.transparent-header {
		background: transparent;
		z-index: 199;

		& + #banner {
			top: -$header-height;
			margin-bottom: -$header-height;
		}
	}
}


/* ----------------------------------------------------------------
	Logo
-----------------------------------------------------------------*/

.navbar-brand {
	margin-right: 2.5rem;
	margin-top: -0.625rem;

	img {
		max-width: 5.0625rem;		
	}
}


/* ----------------------------------------------------------------
	Navbar Toggler
-----------------------------------------------------------------*/

.navbar-toggler {
	border: 0;

	@include media-breakpoint-up(lg) {
		margin-right: 3.5rem;
	}	
}


/* ----------------------------------------------------------------
	Mega Menu
-----------------------------------------------------------------*/

// Please ignore mega menu now 


/* ----------------------------------------------------------------
	Top Buttons
-----------------------------------------------------------------*/

#top-btns {
	.nav-item {
		padding-left: $nav-link-padding-x;
		padding-right: $nav-link-padding-x;
	}

	.nav-link {
		[data-cart-items] {
			position: relative;
			display: inline-block;

			&::before {
				content: attr(data-cart-items);
				position: absolute;
				top: -.5rem;
				right: -.75rem;
				display: flex;
				align-items: center;
				justify-content: center;
				width: 19px;
				height: 19px;
				font-size: 11px;
				font-weight: 500;
				border-radius: 50%;
				border: 1px solid #fff;
				background-color: #ff6f61;
				color: #fff;
			}
		}
	}
}


/* ----------------------------------------------------------------
	Top Search
-----------------------------------------------------------------*/

#top-search {
	min-width: 31.5625rem;

	input {
		border-radius: 2rem;
		background-color: rgba(#e0e0e0, .1);
		border-color: #e9e9e9;
		color: #242424;
		font-size: 0.875rem;
		padding-left: 1.875rem;
		padding-right: 1.875rem;
	}

	.input-group-addon  {
		position: relative;
		right: 2.25rem;
		top: 1.1rem;
		color: #242424;
	}
}

/* ----------------------------------------------------------------
	Top Social
-----------------------------------------------------------------*/

#top-social,
#top-social ul { margin: 0; }

#top-social {
	position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 1;

	.top-social-title {
		transform: rotate(270deg);
		position: relative;
		bottom: 6rem;
		right: 2.8rem;
		font-size: 0.875rem;
		color: #848484cc;
	}

	ul {
		position: relative;
    	left: 1rem;
	}

	li {
		padding: 0 0.25rem;
		margin-bottom: 1rem;

		a {
			border-radius: 50%;
			color: black;
			display: inline-block;
			line-height: 1.8125rem;
			width: 1.8125rem;
			height: 1.8125rem;		
			vertical-align: middle;
			text-align: center;

			&:hover {
				color: $theme-color;
			}

			i {
				vertical-align: top;
				line-height: 1.8125rem;
			}
		}
	}

	@include media-breakpoint-down(xl) {
		position: relative;
		right: 3rem;
		display: flex;
		justify-content: flex-end;
		margin-bottom: -3rem;

		.top-social-title {
			position: relative;
			bottom: 0;
			right: 0;
			transform: rotate(0);
		}

		ul {
			display: flex;

			li {
				a {
					color: $white;
				}
			}
		}
	}
}