
/* ----------------------------------------------------------------

	pagetitle.scss

-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Page Title
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Add here styles for page title. Thanks!
-----------------------------------------------------------------*/

#page-title {
	.title {
		font-family: $heading-font;
		line-height: 1.3;
	}

	@include media-breakpoint-up(xl) {
		margin-left: -12rem;
	}
}

#page-top {
	.breadcrumb {
		li {
			a {
				font-size: 0.75rem;
				color: #b1b1b1;

				i {
					font-size: 0.4rem;
				}

				&.active {
					color: $dark;
				}
			}
		}
	}
}
