
/*-----------------------------------------------------------------------------------

	Shortcodes: icon-box.scss

-----------------------------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Icon Box Styles
-----------------------------------------------------------------*/


.icon-box {
    display: block;
	margin-bottom: 1.5rem;

	.icon-wrapper {
		font-size: 0.875rem;
		min-width: 4rem;
	}

	.icon-header {
		h4 {
			font-family: $body-font;
			color: $theme-color;
			font-size: 0.875rem;
			font-weight: 400;
		}

		p {
			font-size: 0.75rem;
			color: #b1b1b1;
		}
	}
}