.logos {
	display: flex;
	justify-content: space-between;
	padding-top: 3rem;
    padding-bottom: 3rem;
	
	.logo-item {
		max-width: 9.625rem;
		height: 1.25rem;
		display: flex !important;

		img {
			width: auto;
			height: auto;
		}

		@include media-breakpoint-down(xl) {
			margin: auto;
		}
	}

	@include media-breakpoint-down(sm) {
		padding: 2rem;
	}
} 