.logos {
	display: flex;
	justify-content: space-between;
	padding-top: 3rem;
    padding-bottom: 3rem;
	
	.logo-item {
		max-width: 13.625rem;
		height: 2.25rem;
		display: flex !important;
		justify-content: center;
		align-items: center;
		margin: auto;

		img {
			width: auto;
			height: auto;
		}
	}

	@include media-breakpoint-down(sm) {
		padding: 1rem 0;
	}
} 